#leftdiv{
  background: white;
  height: 100%;
  margin: 0;
  opacity: 0.7;
  padding: none;
  position: fixed;
  width: 35%;
  z-index: 1;
}

.nav{
  margin-left: 60px;
  margin-top: 24px;
  padding-right: 30px;
}

li{
  display:inline-block;
  text-decoration: none;
}

h1{
  color: #717375;
  display:flex;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

p.about, li a{
  color: #717375;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 20;
  letter-spacing: 0.5px;
  line-height: 21px;
  margin-top: 24px;
}

.left-text, a{
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-left: 60px;
  margin-top: 100px;
  text-decoration: none;
}

i{
  color: #717375;
  padding-right: 40px;
}

.socials{
  margin-left: 60px;
  padding-top: 32px;
}

/**red case study**/
#rightdiv{
  background: #D15959;
  height: 1000px;
  position: absolute;
  width: 100%;
}
#btxt{
  text-align: left;
  margin-top: -150px;
  margin-left: 1150px;
  padding-right: 30px;
  font-family: 'Roboto', sans-serif;
}

.butterfly, .restaurant{
  margin-left: 55%;
  margin-top: 20px;
}
.gathur{
  margin-left: 45%;
  margin-top: 10%;
}
/**orange case study**/
#rightdiv2{
  width: 100%;
  height: 1000px;
  background: #E3A951;
  margin-top: 675px;
  position: absolute;

}
/**yellow case study**/
#rightdiv3{
  width: 100%;
  height: 700px;
  background: #F6CF69;
  margin-top: 1350px;
  position: absolute;
}
img{
  margin-left: 300px;
}
